body {
  background: url(https://image.freepik.com/free-photo/arrangement-green-leaves-row-green-backdrop_23-2148217784.jpg)
    no-repeat #b4cec5;
  background-size: cover;
}

.app {
  max-width: 650px;
  padding: 40px 40px 20px;
  margin: 50px auto;
  background: rgb(231, 243, 241, 0.6);
  color: #253605;
}

.search form {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 20px;
}

.searchElement {
  background-color: #aecdc5;
  border: none;
  padding: 5px;
  margin: 5px;
  width: 250px;
}

button {
  box-shadow: 1px 1px 5px #000;
}

.searchButton button {
  background: #c997a0;
  border: none;
  padding: 5px 15px;
  margin: 5px;
  color: #253605;
}

.locationButton button {
  background: #4c1734;
  border: none;
  color: #ffffff;
  padding: 5px 10px;
  margin: 5px;
}
.loadingIcon {
  text-align: left;
}
.location {
  font-weight: 400;
  text-transform: capitalize;
}

.updateTime {
  font-size: 20px;
  font-weight: 350;
  padding: 0px 0px 40px 0px;
}
.currentInfo {
  padding: 20px 0px 0px 0px;
}
.temperature {
  display: flex;
  font-size: 20px;
}

.temperature h3 {
  font-size: 80px;
  font-weight: 350;
}

.degreesSelection {
  padding: 15px 5px;
}

.currentIcon {
  padding: 20px;
}

ul {
  list-style: none;
  padding-inline-start: 10px;
}

.forecastDay {
  padding: 10px;
  text-align: center;
}

.forecast {
  padding: 30px 0px 0px 0px;
}
