.app {
  padding: 15px 0px 0px 15px;
  margin: 50px auto;
  background: rgb(231, 243, 241, 0.6);
  color: #253605;
  border: 1px solid rgb(37, 54, 5, 0.7);

  border-radius: 10px;
}

.app,
footer {
  max-width: 800px;
  margin: 10px auto;
}
.search {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 0px;
}

.searchElement,
.submitButton,
.locationButton {
  padding: 5px 0px 5px 0px;
}

.updateTime {
  font-size: 20px;
  font-weight: 350;
  padding: 0px 0px 40px 0px;
}

footer {
  font-size: small;
}
