.location {
  font-weight: 400;
  text-transform: capitalize;
  padding-top: 10px;
}
.currentInfo {
  padding: 20px;
}

ul {
  list-style: none;
  padding-top: 10px;
  padding-inline-start: 10px;
}

.currentIcon {
  padding: 15px 0px 0px 20px;
}

.weatherDescription {
  font-size: 26px;
  font-weight: 450;
  text-transform: capitalize;
}
